################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Adb.Net-App/obj
/Adb.Net-App/bin
/packages

# NuGet Packages Directory
packages/*
/.nuget
