################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdbdotNetApp/obj
/AdbdotNetApp/bin
/packages

# NuGet Packages Directory
packages/*
/.nuget
